@charset "UTF-8";

/* Global Content Formatting and Styles */

body {
	color: #575c7a;
	line-height: 1.5em;
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 14px;
	background: #fff url(../images/stripebg.png);
}

/*Fonts I like:
Agency FB
Chaparral Pro
Corbel
Letter Gothic Std
*/

.page {
	max-width: 980px;
	margin: 0px auto 0px auto;
	position: relative;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

h1 { font-size: 2em; font-weight: normal; color: #426173; margin: 0 0 .5em 0;}
h2 { font-size: 1.7em; font-weight: normal; margin: 1em 0 .5em 0; }
h3 { font-size: 1.5em; margin: 0 0 1em 0; }

p {
	font-size: 1.1em;
	margin: 0 0 .75em 0;
	
}

ul li { font-size: 1.1em; }

ol li { font-size: 1.1em; }

a { color: #426173; }
a:hover { color: #009eff; }

footer { 
	font-size: .9em;
	color: #000; 
	/*background-color: #426173;*/
	padding: 10px 10px 10px 0px;
	text-align:center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;	
}

a.cta {
	text-transform: uppercase;
	font-size: 1.1em;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	
}

a.cta:hover { background-position: right -50px;}

.promo h3 { font-size: 1.1em; margin: 0; }
.promo p { line-height: 1.2em; font-size: 1em; margin-bottom: .5em; }

.promo { background-repeat: no-repeat; }
.promo.one { background-image: url(../images/promo_mu.jpg); }
.promo.two { background-image: url(../images/promo_2.jpg); }
.promo.three { background-image: url(../images/promo_3.jpg); }

nav a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	font-size: 1.1em;
}
nav a:hover { color: #ccc; }

.clear-fix { clear: both; line-height: 1px;}

ul, ol {
	line-height: 2em;	
}

/*checkbox lists*/
li.main-ul {
	list-style-image: url('images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0px 0px 0px 0px;
}
li.main-ul-level1 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0px 0px 0px 5px;
}
li.main-ul-level2 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 3em;
}
li.main-ul-level3 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 5em;
}
li.main-ul-level4 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 7em;
}
li.main-ul-level5 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 9em;
}
li.main-ul-level6 {
	list-style-image: url('../images/square_checkbox.gif');
	list-style-position: inside;
	font-family: "Calibri";
	font-weight: normal;
	font-style: normal;
	font-size: 1.33em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;b
	color: #000000;
	margin: 0em 0em 0em 11em;
}

